@import '@fontsource/manrope/400.css';

@import '@fontsource/manrope/700.css';


.home-layout {
    width: 100%;
    margin-top: 0;
    padding-top: 0px;
}


.page-grid {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    gap: 30px;
    align-items: start;
}


.feed-section {
    grid-column: 2;
    margin-left: -35px;
    width: 560px;
}


.right-sidebar-section {
    grid-column: 3;
    width: 300px;
    justify-self: start;
    max-width: 300px;
    margin-left: -70px;

}

.left-sidebar-section {
    width: 250px;
    margin-left: 10px;
}

body {
    background-color: #f8f3eb;

    margin: 0;
    padding: 0;
}

#root {


    height: 100vh;
    width: 100%;

}