.info-card {
    margin-top: 20px;
    border: 2px solid #3b2a1f;

    box-shadow: none;
    text-align: center;
    overflow: hidden !important;
}

.info-card:hover {
    box-shadow: 0 8px 30px#3b2a20;
}

.info-card-content {
    padding: 14px;
}

.info-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
}

.info-text {
    font-size: 12px;
    color: #6b5b4a;
    line-height: 1.6;
}