.left-sidebar-card {
    background: white;


    padding: 16px;

    max-width: 300px;
    position: sticky;
    top: 20px;
    border: 3px solid #3b2a20;

    border-radius: 22px !important;
}

.trends-title {
    font-size: 19px;
    font-weight: bolder !important;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    color: #3b2a20;
}

.trends-icon {
    margin-right: 8px;
    font-size: 26px;
    color: #3b2a20;


}

.trend-item {
    padding: 12px 8px;
    border-radius: 12px;
    transition: background 0.2s;
    margin-bottom: 4px;
    cursor: pointer;
}

.trend-item:hover {
    background: #f5f5f5;
}

.trend-topic {
    font-weight: bolder !important;
    font-size: 15px;
    color: #3b2a20;




}

.trend-posts {
    font-size: 13px;
    color: #555;
}

.show-more {
    margin-top: 12px;
    color: #3b2a20;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

.show-more:hover {
    text-decoration: underline;
}