.navbar {
    width: 100%;
    height: 100px;
    background-color: #f8f3eb;


    border-radius: 18px;

    display: flex;
    align-items: center;

    justify-content: space-between;

    margin-top: 0px;

    box-sizing: border-box;
    margin-bottom: 25px;

    background-color: #f6efe6;

    border-bottom: 1px solid #e0d6c8;

}

/* اللوغو على اليسار */
.nav-logo img {
    width: 220px;
    height: 100px;
    cursor: pointer;
    margin-left: -10px;
    /* شوية تعديل عشان يطلع زي الصورة */
}

/* قائمة الأيقونات الوسطية */
.navbar-links {
    list-style: none;
    display: flex;
    gap: 100px;
    /* مسافة مريحة بين الأيقونات (غيرها لو بدك أكبر/أصغر) */
    margin: 10;
    padding: 0;


}

.navbar-links li {
    display: flex;
    align-items: center;

}

/* لون الأيقونات يكون أسود واضح */
.navbar-links a,
.navbar-search a {
    color: #3b2a20;
    /* كل الأيقونات سودا */
    text-decoration: none;
    margin-right: 25px;
}

/* حجم الأيقونات (MUI icons) */
.navbar svg {
    font-size: 28px;
    /* حجم مناسب وواضح */
}

/* أيقونة البحث على اليمين */
.navbar-search {
    margin-right: 10px;
    /* شوية تبعيد عن الحافة */
}

/* عند الهوفر: خفة شوي للأيقونات */
.navbar-links a:hover,
.navbar-search a:hover {
    opacity: 0.6;
    /* تأثير ناعم عند المرور بالماوس */
    transition: opacity 0.2s;
}